{% include "head.html" %}

<body>
    <div></div>
    <div>
       
        {% include "nav.html" %}

        <div id="contentbox">
            <img src="/static/img/skates.jpg" style="text-align:center;align-content:center;">

                <p>Use a QR Kit to provide information about anything you want: your garage sale items, your <a class="clink" href="travato/overview/">RV</a> or rental home, a <a href="http://qrkit.io/builder/?id=2">lampshade</a>, the plant species on your favorite walk. QRKit.io provides a helpful, hosted, beautiful experience to your customers, colleagues, and friends.</p>
        </div>
        
       
    </div>
    {% include "foot.html" %}
</body>
</html>